@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.pane-holder {
  max-width: 300px;
  width: 98%;
  padding: 0.5%;
  margin: 0.5%;
  border: 1px solid black;
}
